.content {
    margin: 1em auto;
    max-width: 70%;
}

h1 {
    margin-bottom: 1em;
}

select {
    float: left;
}

input {
    float: left;
    margin-bottom: 2em;
    margin-left: 1em;
}

table {
    width: 100%;
}

th, td {
    padding: .5em 1em .5em .5em;
    border: solid 1px #ddd;
}

th.title {
    
}

th.date {
    
}

th.category {
    
}